.env
.DS_STORE
.idea
py_backend_logic/data/*
node_modules/scheduler/*
node_modules/set-cookie-parser/
/node_modules/react
/node_modules
*.db
py_backend_logic/groq_api_status.txt
go_backend/main
/ToDo.txt
